
<div class="w3-card-4 w3-margin w3-padding" style="width:100%;">
    <header class="w3-container">
        <h1 class="w3-center w3-margin w3-padding"><span class="y"><strong>EMI-QUIZZ,</strong></span>
            UN OUTIL DE FORMATION EN LIGNE</h1>
    </header>
    <div style="margin-right:100px"  class="w3-center w3-margin w3-padding">
        <div class="fa fa-quora c"style="font-size: 150px"></div>
   
    <div class="w3-container w3-center">
        <h2 class="w3-margin w3-padding"><span class="y"><strong>@Html.ActionLink("Inscrivez-vous", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</strong></span> ou <span class="y"><strong>@Html.ActionLink("Connectez-vous", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong>&nbsp;</span>pour passer une <strong>Evaluation</strong></h2>
        <h2 class="w3-margin w3-padding">Sinon <span class="y"><strong>@Html.ActionLink("Commencez", "Index", "Difficultes")</strong> </span>un test diagnostique</h2>
    </div>
</div>